:root {
    --logo: rgb(54, 112, 199);

    --landing-bg: #DDD;
    --about-bg: var(--logo);
    --signup-bg: #444;

    --signup-color: var(--logo);

    --light-text: #fff;
    --dark-text: #111;
    --general-radius: 5px;

    --submit-color: rgb(0, 255, 0);
    --cancel-color: rgb(180, 0, 0);

    --button-text-color: inherit;
    --button-text-color-hover: rgb(255, 255, 255);
    --button-text-weight: bold;
    --button-text-font: helvetica;
    --button-text-size: 16px;
    --button-shadow-color: rgba(255, 255, 255, 0.5);
    --button-inset-shadow-color: rgba(0, 0, 0, 0.5);
    
    --input-shadow-color: #bbb;
    --input-inset-shadow-color: rgba(0, 0, 0, 0.6);

    --transition-speed: 0.1s;
}

html {
    scroll-behavior: smooth;
}

a {
    outline: none;
    text-decoration: none;
}

#logo {
    width: 150px;
    height: 50px;
    margin-left: 10px;
    filter: drop-shadow(2px 2px 2px var(--input-inset-shadow-color));
    transition: var(--transition-speed) ease-out;
}

#logo:active {
    filter: drop-shadow(2px 2px 2px var(--input-inset-shadow-color)) grayscale(100%);
    margin-top: 3px;
    margin-left: 12px;
}

#navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    top: 0px;
    left: 0px;
    background-color: #fff;
    height: 70px;
    width: 100vw;
    box-shadow: 0px 5px 15px var(--input-inset-shadow-color);
}

#navbar > ul {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    margin: 0 0 0 auto;
}

#navbar > ul > li {
    margin: 0 15px;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;

}

#navbar > ul > li a {
    text-decoration: none;
    color: var(--dark-text);
}

#navbar > ul > li a:hover {
    color: var(--logo);
}

#navbar > ul > li:last-child > a {
    border: 2px solid var(--signup-color);
    border-radius: var(--general-radius);
    padding: 5px 10px;
    color: var(--signup-color);
    transition: var(--transition-speed);
}

#navbar > ul > li:last-child > a:hover {
    background-color: var(--signup-color);
    color: var(--light-text)
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content {
    max-width: 900px;
}

.landing, .about, .signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.landing {
    background-color: var(--landing-bg);
    color: var(--dark-text);
    color: #111;
}

#punch-card {
    width: 500px;
    filter: drop-shadow(3px 3px 5px var(--dark-text));
    rotate: 25deg;
    margin: 50px;
}

#landing-description {
    margin: 50px;
}

.about {
    background-color: var(--about-bg);
    color: var(--light-text);
}

.about > table > tr > td:last-child {
    line-height: 80px;
    float: left;
    align-content: center;
    margin-left: 20px;
}

.about > .btn > a {
    color: #fff;
}

.about > .btn > a:hover {
    color: #fff;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--signup-bg);
    color: var(--light-text);
    height: 30vh;
}

input[type='text'], input[type='email'] {
    padding: 15px;
    box-shadow: 2px 2px 3px var(--input-shadow-color),
                inset 3px 3px 2px var(--input-inset-shadow-color);
    border: 0px solid #000;
    border-radius: var(--general-radius);
}

input[type="button"]{
    outline:none;
 }
 
 input[type="button"]::-moz-focus-inner {
    border: 0;
 }

 .signup-form {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     width: 270px;
 }

 .signup-form > input {
     margin: 10px;
 }

 .action-bar {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     width: 300px;
     margin: 10px;
 }

.btn {
    line-height: 40px;
    height: 40px;
    width: 100px;
    box-shadow: 2px 2px 2px var(--button-inset-shadow-color), 
                inset 2px 2px 3px var(--button-shadow-color);
    border: 0.75px solid black;
    border-radius: var(--general-radius);
    outline: none;
    background-color: inherit;
    color: var(--button-text-color);
    font-weight: var(--button-text-weight);
    font-family: var(--button-text-font);
    font-size: var(--button-text-size);
    transition: var(--transition-speed) ease-in;

}

.btn:active {
    box-shadow: inset 2px 2px 2px var(--button-inset-shadow-color), 
                2px 2px 3px var(--button-shadow-color);
    line-height: 43px;
    background-color: rgba(0, 0, 0, 0.2);
}

.submit {
    color: var(--submit-color);
}

.cancel {
    color: var(--cancel-color);
}